<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119522275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119522275-1');
</script>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if page.description %}
<meta name="description" content={{ page.description }}>
{% endif %}
{% if page.image %}
<meta content="{{ site.url }}/assets/img/{{ page.image }}" property="og:image">
{% endif %}

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="{{site.url}}/assets/css/custom.css" rel="stylesheet">

<!-- favicon -->
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/assets/img/favicon.ico" />
<!--[if IE]>
<link rel="shortcut icon" href="/assets/img/favicon.ico"/>
<![endif]-->
<!-- Optional: Android & iPhone-->
<link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-152.png" />
<!-- Optional: IE10 Tile.-->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/assets/img/favicon-144.png" />
<!-- Optional: ipads, androids, iphones, ...-->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon-152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon-144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon-120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon-72.png" />
<link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-57.png" />

<title>{{ page.title }}</title>
