<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">
    <img alt="CoderDojo日進" src="{{site.url}}/assets/img/favicon-32.png" width="30" height="30"> CoderDojo日進
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContents" aria-controls="navBarContents" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon n-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navBarContents">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/blog">Blog</a>
    </div>
  </div>
</nav>
