<nav id="globalNav" class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="#top">
    <img alt="CoderDojo日進" src="/assets/img/favicon-32.png" width="30" height="30"> CoderDojo日進
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#about">About</a>
      <a class="nav-item nav-link" href="#events">開催予定</a>
      <a class="nav-item nav-link" href="#contact">お問い合わせ</a>
      <a class="nav-item nav-link" href="#mentor">メンター募集</a>
      <a class="nav-item nav-link" href="#sponsor">スポンサー募集</a>
    </div>
  </div>
</nav>
