<!doctype html>
<html lang="ja">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <article class="post">
            <header>
              <small>{{ page.date | date: "%Y-%m-%d" }}</small>
              <h2>{{ page.title | escape }}</h2>
            </header>
            {{ content | newline_to_br}}
          </article>
        </div>
        <div class="col">
          <div class="reacent-posts">
            <h4>最近の投稿</h4>
            <ul>
              {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
